:root{
    --bg: #5F9CC9;
    --bg-transparent: rgba(255, 255, 255, 50%);
    --shadow: rgba(0, 0, 0, 30%);
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

h1 {
    font-size: 2.5rem;
    font-family: 'Playfair Display';
    font-weight: 500;
}

body, header, .svg-container, .header-content, main, footer, .footer-content,.picture-container,  picture {
    display: flex;
    flex-direction: column;
}

path {
    fill: var(--bg);
}

header, .svg-container, .header-content, main, footer, .footer-content, .picture-container {
    align-items: center;
    gap: 10px;
}

.header-content, main, .footer-content {
    padding: 20px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.svg-container{
    width: 100vw;
}

.svg-container svg {
    filter: drop-shadow(0 0px 3px);
}

.picture-container {
    width: 100vw;
    position: absolute;
    top: 20px;
}

.svg-container img {
    width: 85vw;
    height: 400px;
    object-fit: cover;
    box-shadow: 0px 0px 5px 0px var(--shadow);
}

.my-name {
    position: absolute;
    bottom: 10px;
    padding: 5px 50px;
    color: black;
    background-color: var(--bg-transparent);
    font-size: 4rem;
    color: white;
}

.header-content .links {
    gap: 15px;
}

.header-content .links i {
    font-size: 30px;
}

.project-container {  
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    gap: 40px;    
}

.project {
    border: 1px solid gray;
    box-shadow: 2px 2px 5px 1px var(--shadow);
}

.project-image {
    height: 250px;
    display:flex;
    align-items: center;
    text-align: center;
    font-size: 42px;
    color: white;
    padding: 20px;
}

#project-1 {
    background-color: #9E1C1C;
}

#project-2 {
    background-color: #7C75CA;
}

#project-3 {
    background-color: #D88F39;
}

#project-4 {
    background-color: #5E8F4D;
}

#project-5 {
    background-color: #CA7599;
}

#project-6 {
    background-color: #4692D9;
}

.project-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-details .links {
    gap: 10px;
}

.project-details .links i {
    font-size: 24px;
}

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: var(--bg);
}

footer img {
    width: 100vw;
    object-fit: cover;
}

footer p {
    align-self: flex-start;
}

footer .links {
    gap: 20px;
}

footer .links i {
    font-size: 40px;
}

@media screen and (500px <= width < 1000px) {
    .project-container {
        display: grid;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }

    footer {
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;
    }

    footer h1, 
    footer p {
        color: white;
    }

    .footer-content {
        align-items: start;
    }

    footer img {
        object-fit: contain;
        height: 320px;
        width: 225px;
    }
}

@media screen and (width >= 1000px) {
    .project-container {
        display: grid;
        grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    }
}